In [1]:
print("Hallo World")

Hallo World

In [2]:
a = 20
b = 30
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [3]:
list1 = ["red", "green", "blue"]
list2 = [1,2,"ahmed","true",["ali","false",200]]

In [4]:
print(list1)

['red', 'green', 'blue']

In [5]:
print(list2)

[1, 2, 'ahmed', 'true', ['ali', 'false', 200]]

In [6]:
list1.extend(list2)

In [7]:
print(list1)

['red', 'green', 'blue', 1, 2, 'ahmed', 'true', ['ali', 'false', 200]]

In [8]:
list1.append("yellow")

In [9]:
print(list1)

['red', 'green', 'blue', 1, 2, 'ahmed', 'true', ['ali', 'false', 200], 'yellow']

In [10]:
list1[2]

'blue'

In [11]:
list1[1:3]

['green', 'blue']

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [13]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [14]:
tuple1 = ("abc", 34, True, 40, "male")

In [15]:
print(tuple1)

('abc', 34, True, 40, 'male')

In [16]:
list_of_tuplels=[(2,5),(3,9),(1,7)]

In [17]:
print(list_of_tuplels)

[(2, 5), (3, 9), (1, 7)]

In [18]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [19]:
def my_fun (name,age):
    print("Hallo "+name+ " your age is " + str(age))
my_fun("ahmed",23)

Hallo ahmed your age is 23

In [23]:
cars = {
  "color": "red",
  "model": "Toyota",
  "year": 1990
}
print(cars["model"])

Toyota

In [24]:
"color" in cars

True

In [25]:
"type" in cars

False

In [26]:
cars ["age"] = 100

In [27]:
cars

{'color': 'red', 'model': 'Toyota', 'year': 1990, 'age': 100}

In [28]:
del cars ["age"]

In [29]:
cars

{'color': 'red', 'model': 'Toyota', 'year': 1990}